* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

html,
body,
ul {
  margin: 0;
  padding: 0; }

body .hide {
  display: none !important; }

body {
  font-family: 'Open Sans', sans-serif; }

.h1,
.h2,
.h3,
.h4 {
  font-weight: 700;
  margin: 0; }

.h2 {
  font-size: 1.5em; }
  @media (min-width: 768px) {
    .h2 {
      font-size: 1.75em; } }

.h3 {
  font-size: 1.25em; }

.h4 {
  font-size: 1em; }

.title-container {
  margin: 0 auto;
  max-width: 775px;
  padding: 15px 0;
  text-align: center; }
  .title-container.main-title-container {
    padding-top: 30px; }
    .title-container.main-title-container .h1 {
      margin-bottom: 10px; }

p, ol {
  font-size: .9em;
  line-height: 1.5em; }
  @media (min-width: 768px) {
    p, ol {
      font-size: 1em; } }

.text-red {
  color: #ee0000; }

.bold {
  font-weight: 700; }

a.link {
  border-bottom: 1px solid transparent;
  color: #ee0000;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 240ms ease-in-out 10ms;
  -o-transition: all 240ms ease-in-out 10ms;
  transition: all 240ms ease-in-out 10ms; }
  a.link:hover, a.link:focus {
    border-bottom: 1px solid #be0000;
    color: #be0000; }
  @media (min-width: 768px) {
    a.link.mobile-link {
      color: #000;
      font-weight: 700;
      pointer-events: none; }
      a.link.mobile-link:hover, a.link.mobile-link:focus {
        border-bottom: transparent;
        color: black; } }

.btn {
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  letter-spacing: .5px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 240ms ease-in-out 10ms;
  -o-transition: all 240ms ease-in-out 10ms;
  transition: all 240ms ease-in-out 10ms;
  vertical-align: middle; }
  .btn::after {
    color: #fff;
    content: "\f054";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 8px;
    -webkit-transition: all 240ms ease-in-out 10ms;
    -o-transition: all 240ms ease-in-out 10ms;
    transition: all 240ms ease-in-out 10ms; }
  .btn.primary-btn {
    background-color: #ee0000;
    border: 1px solid #ee0000;
    color: #fff;
    padding: 12px 16px 12px 20px;
    margin: .5em 0; }
    .btn.primary-btn:hover, .btn.primary-btn:focus {
      background-color: #be0000;
      border: 1px solid #be0000;
      color: #fff; }

.js-cm-form label {
  display: block;
  font-size: .85em;
  font-weight: 700; }
  @media (min-width: 768px) {
    .js-cm-form label {
      font-size: 1em; } }

.js-cm-form input {
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  font-size: 16px;
  outline: none;
  padding: 10px;
  -webkit-transition: all 240ms ease-in-out 10ms;
  -o-transition: all 240ms ease-in-out 10ms;
  transition: all 240ms ease-in-out 10ms;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .js-cm-form input:hover, .js-cm-form input:focus {
    border: 1px solid #333; }
  .js-cm-form input:focus {
    background-color: #f9f9f9; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

.site {
  padding-bottom: 80px;
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 768px;
  padding: 1em; }

.section-inner-wrapper {
  margin-bottom: 3em; }

footer {
  background: #f9f9f9;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%; }
  footer p {
    margin: 0; }

.header {
  background-color: #fff;
  width: 100%;
  z-index: 50; }
  .header a {
    color: #ee0000; }

.hero-banner-mobile .container {
  padding: 0; }
  @media (min-width: 768px) {
    .hero-banner-mobile .container {
      padding: 0 1em; } }

.hero-banner-mobile img {
  height: auto;
  width: 100%; }

.logo-wrapper {
  display: block; }

.logo {
  display: inline-block;
  height: auto;
  max-width: 110px;
  width: 100%; }
  @media (min-width: 768px) {
    .logo {
      max-width: 150px; } }
