* {
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body .hide {
  display: none !important; }

body {
  font-family: 'Open Sans', sans-serif; }

.h1,
.h2,
.h3,
.h4 {
  font-weight: 700;
  margin: 0; }

.h1 {
  font-size: 1.8em;
  line-height: 1.2; }
  @media (min-width: 768px) {
    .h1 {
      font-size: 3em; } }

.h2 {
  font-size: 1.75em; }

.h3 {
  font-size: 1.25em; }

.h4 {
  font-size: 1em; }

.title-container {
  margin: 0 auto;
  max-width: 775px;
  padding: 15px 0;
  text-align: center; }
  .title-container.main-title-container {
    padding-top: 30px; }
    .title-container.main-title-container .h1 {
      margin-bottom: 10px; }

.text-red {
  color: #ee0000; }

a.link {
  border-bottom: 1px solid transparent;
  color: #ee0000;
  text-decoration: none;
  transition: all 240ms ease-in-out 10ms; }
  a.link:hover, a.link:focus {
    border-bottom: 1px solid #be0000;
    color: #be0000; }

.btn {
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 240ms ease-in-out 10ms;
  vertical-align: middle; }
  .btn::after {
    color: #fff;
    content: "\f054";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 8px;
    transition: all 240ms ease-in-out 10ms; }
  .btn.primary-btn {
    background-color: #ee0000;
    border: 1px solid #ee0000;
    color: #fff;
    padding: 12px 16px 12px 20px; }
    .btn.primary-btn:hover, .btn.primary-btn:focus {
      background-color: #be0000;
      border: 1px solid #be0000;
      color: #fff; }

form label {
  display: block; }
form input {
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  font-size: 16px;
  outline: none;
  padding: 10px;
  transition: all 240ms ease-in-out 10ms;
  width: 100%;
  appearance: none; }
  form input:hover, form input:focus {
    border: 1px solid #333; }
  form input:focus {
    background-color: #f9f9f9; }

.container {
  margin: 0 auto;
  max-width: 1200px; }

.icon-container-wrapper {
  margin-bottom: 2em; }
  .icon-container-wrapper .icon-container {
    display: flex;
    margin: 1em auto;
    text-align: left;
    width: 100%; }
    @media (min-width: 1200px) {
      .icon-container-wrapper .icon-container {
        margin: 2em auto; } }
    .icon-container-wrapper .icon-container .icon-container-icon {
      display: inline-block;
      margin-bottom: 1em; }
      .icon-container-wrapper .icon-container .icon-container-icon img {
        height: auto;
        padding-top: 10px;
        width: 40px; }
        @media (min-width: 1200px) {
          .icon-container-wrapper .icon-container .icon-container-icon img {
            width: 50px; } }
    .icon-container-wrapper .icon-container .icon-container-text {
      display: inline-block;
      margin-left: 20px; }
      .icon-container-wrapper .icon-container .icon-container-text p {
        margin: 0; }

header {
  background-color: #fff;
  left: 0;
  height: 60px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50; }
  header a {
    color: #ee0000; }

.logo-container {
  height: 40px; }

.logo {
  display: inline-block; }

.logo svg {
  max-width: 100px; }

/*# sourceMappingURL=main.css.map */
