.btn {
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	font-size: 1.125em;
	letter-spacing: .5px;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 240ms ease-in-out 10ms;
	vertical-align: middle;
	
	&::after {
	    color: $white;     
	    content: "\f054";
	    display: inline-block;
	    font-family: "Font Awesome 5 Free"; 
	    font-weight: 900; 
	    padding-left: 8px;
	    transition: $transition;
  	}

	&.primary-btn {
		background-color: $primary-red;
		border: 1px solid $primary-red;
		color: $white;
		padding: 12px 16px 12px 20px;
		margin: .5em 0;

		&:hover,
		&:focus {
			background-color: $secondary-red;
			border: 1px solid $secondary-red;
			color: $white;
		}
	}
}

