.js-cm-form {
	label {
		display: block;
		font-size: .85em;
		font-weight: $bold;

		@media (min-width: 768px) {
			font-size: 1em;
		}
	}

	input {
		border-radius: 3px;
	    border: 1px solid $grey;
	    font-size: 16px;
	    outline: none;
	    padding: 10px;
	    transition: $transition;
	    width: 100%;
	    appearance: none;

	    &:hover,
	    &:focus {
	    	border: 1px solid $darkest-grey;
	    }
	    
	    &:focus {
	        background-color: $lighter-grey;
	    }
	}
}
