.header {
  background-color: $white;
  width: 100%;
  z-index: 50;

  a {
  	color: $primary-red;
  }
}

.hero-banner-mobile {
  .container {
    padding: 0;

    @media (min-width: 768px) {
      padding: 0 1em;
    }
  }

  img {
    height: auto;
    width: 100%;
  }
}

.logo-wrapper {
	display: block;
}

.logo {
  display: inline-block;
  height: auto;
  max-width: 110px;
  width: 100%;
  
  @media (min-width: 768px) {
    max-width: 150px;
  }
}
