html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

.site {
	padding-bottom: 80px;
	position: relative;
}

.container {
	margin: 0 auto;
	max-width: 768px;
	padding: 1em;
}

.section-inner-wrapper {
	margin-bottom: 3em;
}

