body {
  font-family: 'Open Sans', sans-serif;
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: $bold;
  margin: 0;
}

.h2 {
  font-size: 1.5em;
  @media (min-width: 768px) {
    font-size: 1.75em;
  }
}
.h3 {
  font-size: 1.25em;
}
.h4 {
  font-size: 1em;
}

.title-container {
	margin: 0 auto;
	max-width: 775px;
	padding: 15px 0;
  text-align: center;

  &.main-title-container {
    padding-top: 30px;

    .h1 {
      margin-bottom: 10px;
    }
  }
}

p, ol {
  font-size: .9em;
  line-height: 1.5em;
  @media (min-width: 768px) {
    font-size: 1em;
  }
}

.text-red {
	color: $primary-red;
}

.bold {
  font-weight: $bold;
}

a.link {
  border-bottom: 1px solid transparent;
  color: $primary-red;
  font-weight: $bold;
  text-decoration: none;
  transition: $transition;

  &:hover,
  &:focus {
    border-bottom: 1px solid $secondary-red;
    color: $secondary-red;
  }
  &.mobile-link {
    @media (min-width: 768px) {
      color: $black;
      font-weight: $bold;
      pointer-events: none;
      
      &:hover,
      &:focus {
        border-bottom: transparent;
        color: black;
      }
    }
  }
}
