* { 
	box-sizing: border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

html,
body,
ul {
  margin:  0;
  padding: 0;
}

body {
	.hide {
		display: none !important;
	}
}