$white: #fff;
$black: #000;

$darkest-grey: #333;
$grey: #c0c0c0;
$lighter-grey: #f9f9f9;

$red: #ee0000;
$maroon: #be0000;

$primary-red: $red;
$secondary-red: $maroon;

$transition: all 240ms ease-in-out 10ms;

$bold: 700;
$regular: 400;
$text-center: center;


