.icon-container-wrapper {
  margin-bottom: 2em; }
  .icon-container-wrapper .icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em auto;
    text-align: left;
    width: 100%; }
    @media (min-width: 1200px) {
      .icon-container-wrapper .icon-container {
        margin: 2em auto; } }
    .icon-container-wrapper .icon-container .icon-container-icon {
      display: inline-block;
      margin-bottom: 1em; }
      .icon-container-wrapper .icon-container .icon-container-icon img {
        height: auto;
        padding-top: 10px;
        width: 40px; }
        @media (min-width: 1200px) {
          .icon-container-wrapper .icon-container .icon-container-icon img {
            width: 50px; } }
    .icon-container-wrapper .icon-container .icon-container-text {
      display: inline-block;
      margin-left: 20px; }
      .icon-container-wrapper .icon-container .icon-container-text p {
        margin: 0; }
